# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List popular Data Science Libraries
- List popular Data Science tools
- List popular Arithmetic Expressions

## Data Science Languages
 Some of the popular languages that Data Scientists use are:

- Python
- R
- SQL

## Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:

- Panda
- Numpy
- Matplotlib
- Seaborn
- Sklearn

## Table of Data Science tools

| Data Science Tools|
|--------|
| Jupiter  |
|SQL|
| Excel |
| Tableau |
|Power BI |

## Arithmetic Expressions
Below are a few examples of evaluating arithmetic expressions in Python:
| Python operation | Arithmetic operator |
|------------------|------------------|
| Addition   | +   |
| Subtraction   | -   |
| Multiplication   | *   |
| Exponentiation   | **   |
| True division   | /   |
| Floor division   | //   |
| Remainder (modulo)   | %   |

### Multiply and add numbers

In [2]:
# This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print(result) # Output: 17

17

### convert minutes to hours

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours) # Output: 3.3333333333333335

3.3333333333333335

## Author
This notebook was created by Alok Kumar Behera.